@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --red: #ee1d36;
    --black: #000;
    --white: #fff;
    --gray: #bdbcbc;
    /* FUENTES */
    --barlow: "Barlow Condensed", sans-serif;
    --roboto: "Roboto", sans-serif;
}

body {
    font-family: var(--roboto);
    color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--barlow);
}

a {
    text-decoration: none !important;
    color: var(--white) !important;
}


/* resources/css/app.css */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    /* Establece el fondo negro */
    color: white;
    /* Opcional: Establece el color del texto en blanco para contraste */
}